<h3>Formulario</h3>
<!-- FORMULARIO CONTROLADO POR NGMODEL
<form>
  <input type="text" [(ngModel)]="heroe.id" placeholder="Ingrese id: " name="id"><br>
  <input type="text" [(ngModel)]="heroe.nombre" placeholder="Ingrese nombre: " name="nombre"><br>
  <input type="text" [(ngModel)]="heroe.sexo" placeholder="Ingrese sexo: " name="sexo"><br>
  <input type="text" [(ngModel)]="heroe.poder" placeholder="Ingrese poder: " name="poder"><br>
  <input type="text" [(ngModel)]="heroe.terreno" placeholder="Ingrese terreno: " name="terreno"><br><br>

  <button type="submit" (click)="IngresarHeroe()">Aceptar</button><button type="reset">Limpiar</button>
</form>
-->

<!-- FORMULARIO REACTIVO CON FORMSGROUP -->
<form [formGroup]="formularioIngreso">
  <input type="text" formControlName="id" placeholder="Ingrese id: "><br>
  <input type="text" formControlName="nombre" placeholder="Ingrese nombre: "
  [ngClass]="{error: !formularioIngreso.controls.nombre.valid}"><br>
  <input type="text" formControlName="sexo" placeholder="Ingrese sexo: "><br>
  <input type="text" formControlName="poder" placeholder="Ingrese poder: "><br>
  <input type="text" formControlName="terreno" placeholder="Ingrese terreno: "><br><br>

  <button type="submit" (click)="IngresarHeroe()"
  [disabled]="formularioIngreso.invalid">Aceptar</button><button type="reset">Limpiar</button>
</form>
